.fakeimg {
    height: 200px;
    width: 50px;
  }

  #image{
    height: 200px;
    width: 200px;
  }
  .item{
   
    height:600px ;
  }
  img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.listimage{
  margin: 20px;
  width: 150px;
  height: 200px;
  float: left;
  
}
.txt{
  text-align: center;
  color: blue;
  
}

.group{
  width: 1340px;
  /* background-color: aqua; */
  height: 280px;
}

.slide{
  height: 450px;
}

.footer{
    background-color: black;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    /* width: 1400px; */
}
.collapsibleNavbar{
  float: right;

}
.right{
  float: right;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

#success_message {
  display: none;
}